* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #fff;
  background-image: linear-gradient(to right bottom, #000, red);
  background-size: cover;
  background-repeat: no-repeat;

  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media only screen and (max-width: 75em) {
  .container {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

.caption {
  text-align: center;
}

.title {
  font-family: "Goldman", cursive;
  font-size: 4.5rem;
}
.subtitle {
  font-family: "Goldman", cursive;
  font-size: 2.5rem;
}
